@import url("https://use.typekit.net/pmm7vux.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Cairo";
    font-weight: lighter;
}

.background.active {
    position: fixed;
    left: 0; top: 0; right: 0; bottom: 0;
    background-color: #00000054;
    backdrop-filter: blur(3px);
    z-index: 10;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0px 5%;
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__figure {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
}

.logo__img {
    display: inline-block;
    width: 35px;
    padding: 22.5px 0;
}

.logo__img + p {
    font-weight: 500;
    font-size: 27px;
    margin-bottom: -7px;
    color: #666666;
}

.logo__img + p > span {
    color: #376bd3;
}

.buttons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    transition: all .2s ease;
    z-index: 1000;
}

.buttons.active {
    top: 0;
    left: 0;
}

.logo__content {
    display: none;
}

.exit {
    position: absolute;
    top: 27px;
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 5px;
    background-color: #e73535;
    color: #fff;
    left: 180px;
}

.exit:hover {
    background-color: #ff4848;
    cursor: pointer;
}

.btn {
    display: inline-block;
    font-size: 16px;
    padding: 10px 15px 8px;
    font-weight: bold;
    color: gray;
    border-radius: 5px;
    transition: all .2s ease;
}

.btn.selected {
    color: #fff;
    background-color: #376bd3;
}

.btn:not(.selected):hover {
    color: #535353;
}

.buttons.active > .btn {
    margin: 0px 5%;
}

section > .container {
    padding: 60px;
}

.menu {
    width: 28px;
    height: 28px;
    outline: none;
    display: none;
    border: none;
    justify-content: flex-start;
    margin-left: 15px;
    text-align: center;
    position: relative;
    transition: all .2s ease;
}

.menu:hover {
    background-color: #39474b;
    cursor: pointer;
}

.menu > i {
    position: absolute;
    left: 7px;
    top: 7px;
}

.devs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(230px, 100%), 1fr));
    column-gap: 20px;
    row-gap: 60px;
}

.dev > figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dev > figure > img {
    width: 45%;
    border-radius: 30%;
}

.nombre {
    width: 70%;
    font-size: 18px;
    font-weight: 500;
    margin: 20px auto 0;
    color: #fff;
    text-align: center;
}

/* - */

section.acerca {
    background-color: #376bd3;
}

h1 {
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}

h1 + div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.content {
    padding: 20px;
    width: 300px;
    line-height: 1.5;
    color: #fff;
    border: 1px solid #ffffff25;
    border-radius: 5px;
}

.content img {
    width: 60px;
}

.content:first-of-type > div:first-of-type {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 15px;
}

.content:first-of-type > div:first-of-type p:first-of-type {
    font-size: 30px;
    font-weight: bold;
}

.contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.contents + .content {
    height: 241px;
    width: 400px;
    line-height: 1.5;
    font-size: 16px;
}

.dev__team {
    background-color: #0e182c;
}

h2 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    padding: 50px 0 100px;
}

/* - */

footer {
    padding-top: 60px;
    background-color: #e6e6e6;
}

.r1, .icons, .icons + p {
    color: #666;
}

.r1, .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 27px;
    margin-bottom: 30px;
}

.icons {
    font-size: 20px;
}

.icons + p {
    text-align: center;
    padding-bottom: 70px;
}

.r1 > p:hover, .icons > i:hover {
    color: #376bd3;
    cursor: pointer;
}

.r1 > p, .icons > i {
    transition: all .2s ease;
}

@media screen and (min-width: 1130px) {
    .container {
        padding: 0px 56px;
    }
}

@media screen and (max-width: 780px) {
    h1 + div {
        flex-direction: column;
    }

    .contents {
        width: 400px;
        height: auto;
    }

    .content {
        width: 100%;
        height: auto;
    }

    .contents + .content {
        height: auto;
    }
}

@media screen and (max-width: 660px) {
    .buttons {
        position: fixed;
        left: -400px;
        width: 350px;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: #fff;
    }

    .buttons > .btn {
        width: calc(100% - 10%);
    }

    .menu {
        display: inline-block;
        background-color: #2A3538;
    }

    .logo__content {
        display: inline-block;
        padding: 0 30px;
    }
}

@media screen and (max-width: 600px) {
    .devs {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .dev .dev__img {
        width: 150px;
    }

    section > .container:first-of-type {
        padding: 60px 20px;
    }
}

@media screen and (max-width: 520px) {
    h1 + div {
        width: 100%;
    }

    .contents {
        width: 100%;
    }

    .contents + .content {
        width: 100%;
    }
}

@media screen and (max-width: 378px) {
    form {
        width: 100%;
    }
}

@media screen and (max-width: 350px) {
    .buttons {
        width: 100%;
    }

    .logo__content {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    header > .container {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}