@import url("https://use.typekit.net/pmm7vux.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Cairo";
    font-weight: lighter;
}

.background.active {
    position: fixed;
    left: 0; top: 0; right: 0; bottom: 0;
    background-color: #00000054;
    backdrop-filter: blur(3px);

}

.container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0px 5%;
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo__figure {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
}

.logo__img {
    display: inline-block;
    width: 35px;
    padding: 22.5px 0;
}

.logo__img + p {
    font-weight: 500;
    font-size: 27px;
    margin-bottom: -7px;
    color: #666666;
}

.logo__img + p > span {
    color: #1455D5;
}

.buttons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    transition: all .2s ease;
    z-index: 1000;
}

.buttons.active {
    top: 0;
    left: 0;
}

.logo__content {
    display: none;
}

.exit {
    position: absolute;
    top: 27px;
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 5px;
    background-color: #e73535;
    color: #fff;
    left: 180px;
}

.exit:hover {
    background-color: #ff4848;
    cursor: pointer;
}

.btn {
    display: inline-block;
    font-size: 16px;
    padding: 10px 15px 8px;
    font-weight: bold;
    color: gray;
    border-radius: 5px;
    transition: all .2s ease;
}

.btn.selected {
    color: #fff;
    background-color: #1455D5;
}

.btn:not(.selected):hover {
    color: #535353;
}

.buttons.active > .btn {
    margin: 0px 5%;
}

.menu {
    width: 28px;
    height: 28px;
    outline: none;
    display: none;
    border: none;
    justify-content: flex-start;
    margin-left: 15px;
    text-align: center;
    position: relative;
    transition: all .2s ease;
}

.menu:hover {
    background-color: #39474b;
    cursor: pointer;
}

.menu > i {
    position: absolute;
    left: 7px;
    top: 7px;
}

.perfil {
    padding: 5px;
    width: 34px;
    height: 34px;
    border: 1px solid gray;
    border-radius: 5px;
    color: #fff;
    background-color: #6b45e6;
}

.perfil > p {
    text-align: center;
    margin-top: 5px;
}

.section__header {
    height: 150px;
    color: #fff;
    background-color: #1455D5;
    padding: 50px 0;
}

.section__header h3 {
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 12px;
}

.sections > span:nth-of-type(3) {
    font-weight: bold;
}

.section__tickets {
    padding-top: 60px;
    margin-bottom: 100px;
}

.solicitar {
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
    color: #303030;
    padding: 5px 5px 5px 0px;
    margin-bottom: 15px;
}

.solicitar:hover {
    text-decoration: underline;
}

.tickets {
    background-color: #EEF4F5;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(245px, 100%), 1fr));
    gap: 20px;
}

.ticket {
    position: relative;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    height: max-content;
    background-color: #5cd894;
    box-shadow: 0px 3px 10px #00000031;
}

.ticket:nth-of-type(1n) {
    background-color: #2FC171;
}

.ticket:nth-of-type(2n) {
    background-color: #2c9ff1;
}

.ticket__img {
    top: 20px;
    right: 10px;
    position: absolute;
}

.ticket > .estado {
    font-weight: bold;
}

.ticket i.bi-dot {
    font-size: 50px;
    position: absolute;
    top: -8px;
    left: 50px;
}

.ticket > .titulo {
    margin-top: 15px;
    font-size: 20px;
    margin-bottom: 10px;
}

.ticket > .prioridad {
    background-color: #dc4b4b;
    padding: 7px 8px 3px;
    width: max-content;
    border-radius: 5px;
    margin: 0;
    font-weight: bold;
    margin-bottom: 10px;
}

footer {
    padding-top: 60px;
    background-color: #e6e6e6;
}

.r1, .icons, .icons + p {
    color: #666;
}

.r1, .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 27px;
    margin-bottom: 30px;
}

.icons {
    font-size: 20px;
}

.icons + p {
    text-align: center;
    padding-bottom: 70px;
}

.r1 > p:hover, .icons > i:hover {
    color: #1455D5;
    cursor: pointer;
}

.r1 > p, .icons > i {
    transition: all .2s ease;
}

@media screen and (min-width: 1130px) {
    .container {
        padding: 0px 56px;
    }
}

@media screen and (max-width: 660px) {
    .buttons {
        position: fixed;
        left: -400px;
        width: 350px;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: #fff;
    }

    .buttons > .btn {
        width: calc(100% - 10%);
    }

    .menu {
        display: inline-block;
        background-color: #2A3538;
    }

    .logo__content {
        display: inline-block;
        padding: 0 30px;
    }
}

@media screen and (max-width: 378px) {
    form {
        width: 100%;
    }
}

@media screen and (max-width: 350px) {
    .buttons {
        width: 100%;
    }

    .logo__content {
        width: 100%;
    }
}