@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #fff;
    font-family: "Oxygen";
    font-weight: lighter;
}

html {
    background-color: #1C222E;
}

.container {
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
}

header {
    height: 60px;
    margin-bottom: 100px;
}

header > .container {
    padding: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo__figure {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
}

.logo__figure > p {
    font-weight: 700;
    margin-top: 2px;
}

.titulo {
    font-weight: 500;
    font-size: 44px;
    margin-bottom: 30px;
}

.titulo + p {
    font-size: 28px;
    margin-bottom: 20px;
}

.titulo + p + p {
    font-weight: 500;
    margin-bottom: 30px;
}

.acceder {
    display: inline-block;
    padding: 10px 20px;
    background-color: #645DD2;
    border: 1px solid transparent;
    border-radius: 5px;
}

section > .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 150px;
}

.derecha > img {
    width: 400px;
}